@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:regular,bold,italic&subset=latin,latin-ext'); */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .landing{
  background-image: url('../public/orahackbanner.png');
  background-size: cover;
  background-repeat: no-repeat;
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.heading-primary {
  /* H1 */
  
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 73.983% */

  @media only screen and (max-width: 600px) {
      /* font-size: 3.6rem; */
  }
}

.heading-secondary {
  /* H2 */
  
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 138.744% */

  @media only screen and (max-width: 600px) {
      /* font-size: 3rem; */
  }
}
.body-regular2{
  text-align: center;
}

.App {
  text-align: center;
  color: white;
  background-color: #000; /* You will set a background image here */
  min-height: 100vh;
  font-family: 'Source Code Pro';
}

/* Add background image in the CSS */
.App {
  background-image: url('../public/path-to-your-stars-background.svg');
  background-size: cover;
  background-repeat: no-repeat;

}

/* Additional global styles */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: transparent; /* Assuming a transparent navbar */
  color: #fff;
  position: relative;
  z-index: 1;
}
.g-4{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
 
}
.judgingCriteria{
  padding: 20px;
}
.cards{
  
  padding: 25px;
  border-color: #06f;
  border-radius: 10px;
  text-align: center;
  text-overflow: ellipsis;
  margin: 30px 15px;
  font-size: 18px;
  height: 100%;
  overflow: auto;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 0 1em;
  cursor: pointer;
}

.nav-links li:hover {
  text-decoration: underline;
}

.MainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px); /* Adjust based on your navbar height */
  color: #fff;
  background: url('../public/orahackbannerweb.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#myVideo {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.landing{
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

.MainSection h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
}

.MainSection p {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.join-btn{
  font-size: 1em;
  margin: 1em;
  padding: 1em 2em;
  color: #fff;
  background-color: #06f; /* Adjust to match your design */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.explore-btn {
  font-size: 1em;
  margin: 1em;
  padding: 1em 2em;
  color: #fff;
  background-color: rgb(140, 0, 255); /* Adjust to match your design */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-btn:hover,
.explore-btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.dates {
  font-size: 1.2em;
  margin-top: 3em;
}

.Footer {
  padding: 1em 0;
  background: #111; /* Dark footer background */
  color: #fff;
}

.App {
  text-align: center;
  background-color: #000; /* Fallback color */
  min-height: 100vh;
  /* font-family: 'Arial', sans-serif; */
  overflow-x: hidden;
}

/* Add background image in the CSS, you'll replace the URL with your assets */
.App {
  background: url('../public/path-to-your-stars-background.svg') center center / cover no-repeat, 
              radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
             
}


@media only screen and (max-width: 800px) {
  .g-4{
    display:grid;
    max-width:max-content;
   
  }
  .cards{
    text-align: center;
    width: fit-content;
  }
  .MainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Adjust based on your navbar height */
    color: #fff;
    background: url('../public/orahackbannermobile.png');
    background-size: cover;
  background-repeat: no-repeat;
  }
}