@font-face {
  font-family: "Source Code Pro";
  src: url("../public/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf") format("opentype"),
      url("../public/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype");
  /* Add other font properties if needed, like font-weight and font-style */
}
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: transparent; /* Assuming a transparent navbar */
    color: #fff;
      position: relative;
      z-index: 2; 
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    padding: 0 1em;
    cursor: pointer;
  }
  
  .nav-links li:hover {
    text-decoration: underline;
  }
  